.profile-btn {
  background-color: #d1dca9;
  position: relative;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.profile-btn:hover,
.profile-btn:focus {
  background-color: #c3d28b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 130%;
  right: 0;
  background: #BED457;
  color: #272727;
  font-weight: 700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  min-width: 180px;
  z-index: 10;
  margin: 0;
  padding: 0 10px;
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0;
  list-style: none;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.4s;
}

.dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu li {
  padding: 20px 16px;
  margin: 0;
}

.dropdown-menu li+li {
  border-top: 2px solid #5c7f53;
}

.hamburger-btn {
  display: none;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-img {
  border-radius: 100%;
  width: 72px;
  height: 72px;
  background-color: #d1dca9;
  object-fit: cover;
}


.logout-btn {
  border: none;
  text-align: center;
  padding: 10px 16px;
  margin: 10px;
  background-color: #9ACDD1;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}

.dropdown-menu .navlink-li {
  display: none;
}

.logout-btn:hover {
  background-color: #74d0d6;
}

.dropdown-menu .authlinks-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #272727;
  font-weight: 500;
}

.dropdown-menu .auth-links {
  text-decoration: none;
  font-size: 1.1rem;
  color: #272727;
  font-weight: 700;
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: fixed;
    top: 12vh;
    right: 0;
    width: 70vw;
    height: 92vh;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
    overflow: auto;
    z-index: 2000;
    transform: translateX(60px);
  }

  .dropdown-menu.open {
    transform: translateX(0);
  }

  .dropdown-menu .navlink-li {
    display: block;
    list-style: none;
    padding: 20px 0;
  }

  .dropdown-menu .navlink-li a {
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #272727;
  }

  .profile-btn {
    display: none;
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin-right: 8px;
  }

}